<div class="container">
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-6 mx-auto">
      <div class="card shadow border">
        <div class="card-body d-flex flex-column align-items-center">
          <div *ngIf="!diploma">
            <p><b>Enter GPA</b></p>
            <tbody>
            <tr>
              <td>1.</td>
              <td>
                <input type="number" (input)="onInputFirst($event)">
              </td>
            </tr>
            <tr>
              <td>2.</td>
              <td>
                <input type="number" (input)="onInputSecond($event)">
              </td>
            </tr>
            <tr>
              <td>3.</td>
              <td>
                <input type="number" (input)="onInputThird($event)">
              </td>
            </tr>
            <tr>
              <td>4.</td>
              <td>
                <input type="number" (input)="onInputFourth($event)">
              </td>
            </tr>
            </tbody>
          </div>
          <div *ngIf="diploma">
            <p><b>The Student already has a diploma!</b></p>
          </div>
          <button class="btn btn-success mt-2" (click)="onIssue()">
            Application
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
